/*main container*/
main{
    width: 100%;
    height: 100vh;
    display: inline-flex;
    flex-direction: row;
}

/*intro container*/
#introContainer{
    width: 25%;
    height: 100%;
    background-color: #00A8A8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#introContainer img{
    border-radius: 50%;
    width: 40%;
    border: 3px solid #ffffff;
}
#introContainer h1{
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #0C6980;
    padding: 5px;
}
#introContainer h1 span{
    color: #ffffff;
}
#introContainer contact h2{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #fff;
}
#introContainer contact hr{
    color: #0C6980;
    width: 70%;
    border: 4px solid #0C6980;
    border-radius: 3px;
}
#introContainer contact ul li{
    display: inline;
    margin: 5px;
}
#introContainer contact ul li a img{
    border: none;
    width: 15%;
}
#introContainer contact p{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: #fff;
    margin: 5px;
}

/*projects container*/
#projectsContainer{
    width: 50%;
    min-height: 100%;
    background-color: #2EB5E0;
    text-align: center;
    display: grid;
    grid-template: repeat(15, 100px) / repeat(10, 1fr);
}
#projectsContainer h1{
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #fff;
    padding: 10px;
}
#projectsContainer hr{
    color:  #00A8A8;
    width: 70%;
    border: 4px solid  #00A8A8;
    border-radius: 3px;
}
/*intro container*/
#aboutMeContainer{
    width: 25%;
    min-height: 100%;
    background-color: #C4DBE0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#aboutMeContainer header{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #ffffff;
    margin: 5px;
}