* {
    box-sizing: border-box;
}

/*main container*/
main{
    width: 100%;
    height: 100vh;
    display: inline-flex;
    flex-direction: row;
}

/*intro container*/
#introContainer{
    width: 25%;
    height: 100%;
    background-color: #00A8A8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#introContainer img{
    border-radius: 50%;
    width: 40%;
    border: 3px solid #ffffff;
}
#introContainer h1{
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #0C6980;
    padding: 5px;
}
#introContainer h1 span{
    color: #ffffff;
}
#introContainer contact h2{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #fff;
}
#introContainer contact hr{
    color: #0C6980;
    width: 70%;
    border: 4px solid #0C6980;
    border-radius: 3px;
}
#introContainer contact ul li{
    display: inline;
    margin: 5px;
}
#introContainer contact ul li a img{
    margin-top: 5px;
    border: none;
    width: 15%;
    transition: 0.3s;
}
#introContainer contact ul li a img:hover{
    transform: scale(1.5);
}
#introContainer contact p{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: #fff;
    margin: 5px;
}

/*projects container*/
#projectsContainer{
    width: 50%;
    min-height: 100%;
    background-color: #2EB5E0;
    text-align: center;
    display: grid;
    grid-template-areas: repeat(8, 1fr) / repeat(4, 1fr);
    grid-auto-flow: row;
    overflow-y:scroll;
    overflow-x: hidden;
}
#projectsContainer h1{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #fff;
    grid-area: 1 / 1 / 2 / 5;
    text-decoration: underline;
    margin-bottom: 1%;
}
#projectsContainer figure{
    background-color: #00A8A8;
    padding: 1%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition-duration: 3s;
}
#projectsContainer figure:hover{
    transform: scale(1.05);
}
#projectsContainer info{
    background-color: rgba(196,219,224,0.8);
    display: block;
    margin: 10% 10%;
    border-radius: 10px;
    padding: 5px;
    z-index: 5;
}
#projectsContainer info h2{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #fff;
    margin: 5px;
}
#projectsContainer info p{
    font: 1.5em sans-serif;
    color: #0C6980;
    padding: 5px;
} 
#projectsContainer #project1{
    grid-area: 2 / 1 / 5 / 3;
}
#projectsContainer #project1Info{
    grid-area: 3 / 2 / 4 / 5;
}
#projectsContainer #project2{
    grid-area: 4 / 3 / 7 / 5;
}
#projectsContainer #project2Info{
    grid-area: 5 / 1 / 6 / 4;
}
#projectsContainer #project3{
    grid-area: 6 / 1 / 9 / 3;
}
#projectsContainer #project3Info{
    grid-area: 7 / 2 / 8 / 5;
}
#exitButton{
    border-radius: 50%;
    border: 3px solid #0C6980;
    background-color: #00A8A8;
    color: #0C6980;
    width: 30px;
    height: 30px;
    float:right;
    transition: 1s;
    display: block;
}
#exitButton:hover{
    transform: scale(1.5);
}
/*about us container*/
#aboutMeContainer{
    background: url("images/aboutMeBg.png") #00A8A8;
    background-blend-mode: overlay;
    background-size: cover;
    width: 25%;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 20px 50px 100px -20px, rgba(0, 0, 0, 0.3) 30px 30px 60px -30px, rgba(10, 37, 64, 0.35) 10px -2px 6px 0px inset;
}
#aboutMeContainer header{
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color:  #fff;
    margin: 5px;
}
#aboutMeButton{
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    border: #0C6980 5px solid;
    background-color: #2EB5E0;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb{
    background: #0C6980;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
    display: none;
}
::-webkit-scrollbar-track-piece{
    display: none;
}